@import url('https://fonts.googleapis.com/css2?family=Freehand&display=swap');
html{
    background-color: rgb(223, 152, 202);
}

h2{
    color:  rgb(223, 152, 202);
}
h2:hover{
    color:rgb(255, 255, 255);
}

p{
    color: rgb(223, 152, 202);
}


p:hover{
    color:rgb(0, 0, 0);
}

pre{
    font-style:itlatic;
    font-family: 'Freehand', cursive;
}



.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }

h1{
    align-items: center;
}