html
{
    background-image:  url("background.jpeg");

}
a{
    text-decoration: none;
    color: rgb(7, 81, 156);
}
h2{
    text-align: center;
    color: #000000;
    font-size: 40px;
    font-style: bold;
    margin-bottom: 0px;
    z-index: 50;
    opacity: 1;
}
.behind{
    background-color: rgba(255, 255, 255,0.5);
    /* opacity: 0.5; */
    margin: 0 auto;
    /* margin-top: -200px;
    height: 200px; */
    width: 600px;
    z-index: 1;
}
img {
    max-width: 80%;
    float: center;
}
.flex-container {

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    }


.header-fixed {
width: 100vw;
height: 44px;
box-sizing: border-box;
padding: 7px 3px;
position: fixed;
    top: 10px;
    left: 10px;
display: flex;
justify-content: space-between;
align-items: center;
}

.flex-item:nth-child(1) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    }

.flex-item:nth-child(2) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    }

.flex-item:nth-child(3) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    }

.flex-item:nth-child(4) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    }
    .flex-item:nth-child(5) {
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
        }
    .flex-item:nth-child(6) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    }

h1 {
    text-align: center;
}

.container {
    margin: 100px auto 20px;
    width: 500px;
    text-align: center;
}

.progress {
    padding: 6px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar {
    height: 18px;
    background-color: #ee303c;
    border-radius: 4px;
    /*transition: all 10s linear;*/
}

.progress-striped .progress-bar {
    background-color: #FCBC51;
    width: 100%;
    background-image: linear-gradient(45deg, #fca311 25%, transparent 25%, transparent 50%, #fca311 50%, #fca311 75%, transparent 75%, transparent);
    animation: progressAnimationStrike 5s linear;
}

@keyframes progressAnimationStrike {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
